
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">


    <%- include('../partials/head.ejs') %>


<body>
    
    <!-- Begin page -->
    <div id="layout-wrapper">
        <%- include('../partials/topbar.ejs') %>

        <%- include('../partials/sidebar.ejs') %>
          

            <!-- Left Sidebar End -->
            <!-- Vertical Overlay-->
            <div class="vertical-overlay"></div>

            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- row begins -->
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="card mt-4">
                                    <div class="card-body p-4">
                                        <div class="text-center mt-2">
                                            <h5 class="text-primary">Add Event</h5>
                                        </div>
                                        <div class="p-2 mt-4">
                                
                                    <div class="row">
                                         <!--end col-->
                                         <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="title" class="form-label">Title</label>
                                                <input type="text" name="eventName" class="form-control" placeholder="Enter event title" id="eventName">
                                            </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="category" class="form-label">Event Category</label>
                                                <input type="text" name="category" class="form-control" placeholder="Enter event category" id="category">
                                            </div>
                                        </div>
                                        
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="sdate" class="form-label">Start Date</label>
                                                <input type="date" class="form-control" name="startDate"  id="startDate">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="edate" class="form-label">End Date</label>
                                                <input type="date" class="form-control" name="endDate"  id="endDate">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="time" class="form-label">Time</label>
                                                <input type="text" class="form-control" name="time" placeholder="Enter time in full  e.g. 10:30pm" id="time">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="location" class="form-label">Location</label>
                                                <input type="text" class="form-control" placeholder="Enter city, country" id="venue">
                                            </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="tslot" class="form-label">Total slots </label>
                                                <input type="text" class="form-control" id="totalSlots" placeholder="Total slots" >
                                             </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bslot" class="form-label">Booked slots </label>
                                                <input type="text" class="form-control" id="bookedSlots" placeholder="Booked slots" >
                                             </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="website" class="form-label">Website </label>
                                                <input type="text" class="form-control" id="website" placeholder="Enter website" >
                                             </div>
                                        </div>
                                     
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="image" class="form-label">Upload Picture </label>
                                                <input type="file" class="form-control" name="image" id="image" placeholder="upload image" >
                                             </div>
                                        </div>
                                        <!--end col-->
                                   <!-- text editor -->
                                   <div class="mb-3">
                                    <label>Event description</label>
                                     <div class="snow-editor" style="height: 200px;">
                                         <!-- news content -->
                                          <textarea  rows="5" cols="100" name="eventDetails" class="form-control" placeholder="Enter event details" id="eventDetails"> </textarea>
    
                                     </div> 
                                     </div>
                                <!-- text editor end -->
                                        <div class="col-lg-12">
                                            <div class="text-end">
                                                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                      
                    <!-- end row -->
                    </div>
                </div>
                <!-- page content end -->

                 <!-- Start Footer Area -->
        <%- include('../partials/footer.ejs') %>
              
                </div>
            </div>    
         <!-- layout wrapper end -->
          <!--start back-to-top-->
    <button
    onclick="topFunction()"
    class="btn btn-danger btn-icon"
    id="back-to-top"
  >
    <i class="ri-arrow-up-line"></i>
  </button>
  <!--end back-to-top-->
        <%- include('../partials/scripts.ejs') %>
        <script>
const handleFormSubmit = () => {
// Prevent the default form submission
    // Get form data
    
      const eventName = document.getElementById("eventName").value;
      const eventDetails = document.getElementById("eventDetails").value;
      const venue = document.getElementById("venue").value;
      const category = document.getElementById("category").value;
      const time = document.getElementById("time").value;
      const totalSlots = document.getElementById("totalSlots").value;
      const bookedSlots = document.getElementById("bookedSlots").value;
      const startDate = document.getElementById("startDate").value;
      const endDate = document.getElementById("endDate").value;
      const website = document.getElementById("website").value;
     
      // Retrieve other form fields and their values here
  

    // Get the file inputs
    const image = document.getElementById('image').files[0];
    const sd = document.getElementById("startDate").value;
const ed = document.getElementById("endDate").value;
    if(!image || !sd || !ed){
      alert('Featured Image or Dates cannot be empty')  
    } else {
    
    // create form data object to send data
    const formData = new FormData();
    formData.append('eventName', eventName);
    formData.append('eventDetails', eventDetails);
    formData.append('venue', venue);
    formData.append('category', category);
    formData.append('time', time);
    formData.append('totalSlots', totalSlots);
    formData.append('bookedSlots', bookedSlots);
    formData.append('startDate', startDate);
    formData.append('endDate', endDate);
    formData.append('website', website);
    formData.append('image', image);
     // Perform an AJAX request to send the form data to the server
     fetch("/events", {
      method: "POST",
      body: formData
    })
      .then((response) => {
        if (response.ok) {
          // Event added successfully, redirect to the event list page
          window.location.href = "/event-list"; // Replace with your actual event list page URL
        } else {
          // Handle error if needed
          console.error("Failed to add event");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
      });
    }
   
}

document.getElementById('submitBtn').addEventListener('click', handleFormSubmit);
        </script>
 </body>
 </html>