
<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg" data-sidebar-image="none" data-preloader="disable">


    <%- include('../partials/head.ejs') %>


<body>
    
    <!-- Begin page -->
    <div id="layout-wrapper">
        <%- include('../partials/topbar.ejs') %>

        <%- include('../partials/sidebar.ejs') %>
          

            <!-- Left Sidebar End -->
            <!-- Vertical Overlay-->
            <div class="vertical-overlay"></div>

            <div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- row begins -->
                        <div class="row mt-2">
                            <div class="col-lg-12">
                                <div class="card mt-4">
                                    <div class="card-body p-4">
                                        <div class="text-center mt-2">
                                            <h5 class="text-primary">Update Event: <%= event.eventName %></h5>
                                        </div>
                                        <div class="p-2 mt-4">
                                
                                    <div class="row">
                                         <!--end col-->
                                         <div class="col-md-12">
                                            <div class="mb-3">
                                                <label for="title" class="form-label">Title</label>
                                                <input type="text" name="eventName" class="form-control" value="<%= event.eventName %>" placeholder="Enter event title" id="eventName">
                                                <input type="hidden" id="eventId" value="<%= event._id %>">
                                            </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="category" class="form-label">Event Category</label>
                                                <input type="text" name="category" class="form-control" placeholder="Enter event category" value="<%= event.category %>" id="category">
                                            </div>
                                        </div>
                                        
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="sdate" class="form-label">Start Date</label>
                                                <input type="date" class="form-control" value="<%= event.startDate %>" name="startDate"  id="startDate" required>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="edate" class="form-label">End Date</label>
                                                <input type="date" class="form-control" value="<%= event.endDate %>" name="endDate"  id="endDate" required>
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="time" class="form-label">Time</label>
                                                <input type="text" class="form-control" name="time" value="<%= event.time %>" placeholder="Enter time" id="time">
                                            </div>
                                        </div>
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="location" class="form-label">Location</label>
                                                <input type="text" class="form-control" value="<%= event.venue %>" placeholder="Enter city, country" id="venue">
                                            </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="tslot" class="form-label">Total slots </label>
                                                <input type="text" class="form-control" id="totalSlots" value="<%= event.totalSlots %>" placeholder="Total slots" >
                                             </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="bslot" class="form-label">Booked slots </label>
                                                <input type="text" class="form-control" id="bookedSlots" value="<%= event.bookedSlots %>" placeholder="Booked slots" >
                                             </div>
                                        </div>
                                         <!--end col-->
                                         <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="website" class="form-label">Website </label>
                                                <input type="text" class="form-control" id="website" value="<%= event.website %>" placeholder="Enter website" >
                                             </div>
                                        </div>
                                     
                                        <!--end col-->
                                        <div class="col-md-6">
                                            <div class="mb-3">
                                                <label for="image" class="form-label">Upload Picture </label>
                                                <input type="file" class="form-control" name="image" id="image" value="<%= event.image %>" placeholder="upload image" >
                                             </div>
                                        </div>
                                        <!--end col-->
                                   <!-- text editor -->
                                   <div class="mb-3">
                                    <label>Event description</label>
                                     <div class="snow-editor" style="height: 200px;">
                                         <!-- news content -->
                                          <textarea rows="5" cols="100" name="eventDetails" class="form-control" placeholder="" id="eventDetails"> <%= event.eventDetails %> </textarea>
    
                                     </div> 
                                     </div>
                                <!-- text editor end -->
                                        <div class="col-lg-12">
                                            <div class="text-end">
                                                <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                </div>
                                </div>
                            </div>
                        </div>
    
                      
                    <!-- end row -->
                    </div>
                </div>
                <!-- page content end -->

                 <!-- Start Footer Area -->
        <%- include('../partials/footer.ejs') %>
              
                </div>
            </div>    
         <!-- layout wrapper end -->
          <!--start back-to-top-->
    <button
    onclick="topFunction()"
    class="btn btn-danger btn-icon"
    id="back-to-top"
  >
    <i class="ri-arrow-up-line"></i>
  </button>
  <!--end back-to-top-->
        <%- include('../partials/scripts.ejs') %>
        <script>
const handleFormSubmit = () => {
// Prevent the default form submission
const sd = document.getElementById("startDate").value;
const ed = document.getElementById("endDate").value;
const eventId = document.getElementById("eventId").value;

if (!sd || !ed){
    alert('dates can\'t be empty');
    
}
else{
    // Get form data
    const updatedEventData = {
      eventName: document.getElementById("eventName").value,
      eventDetails: document.getElementById("eventDetails").value,
      venue: document.getElementById("venue").value,
      category: document.getElementById("category").value,
      time: document.getElementById("time").value,
      totalSlots: document.getElementById("totalSlots").value,
      bookedSlots: document.getElementById("bookedSlots").value,
      startDate: document.getElementById("startDate").value,
      endDate: document.getElementById("endDate").value,
      website: document.getElementById("website").value,
      image: '',
      // Retrieve other form fields and their values here
    };
    
    // Make the AJAX POST request to the server
    fetch(`/events/${eventId}`, {
      method: 'PUT',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(updatedEventData), 
    })
    .then(response => {
      if (response.ok) {
        alert('Event details updated successfully!');
        window.location.href = `/event-list`;
      } else {
        // Event update failed, handle the error
        console.error('Failed to update event');
      }
    })
    .catch(error => {
      console.error('Failed to update event:', error);
    });
}
}

document.getElementById('submitBtn').addEventListener('click', handleFormSubmit);
        </script>
 </body>
 </html>