<!doctype html>
<html lang="zxx">
    <%- include('../partials/head.ejs') %>


    <body>
		<!-- Start Preloader Area -->
		<!-- <div class="preloader">
			<div class="lds-ripple">
				<img src="/images/favicon.png">
			</div>
		</div> -->
		<!-- End Preloader Area -->
		
		<!-- Start Header Area -->
			<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->

        <section class="team-area-three ptb-100">
			<div class="container">
				<div class="section-title" style="margin-bottom: 120px!important;">
					<h2>Our Faculty</h2>
					<!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna</p> -->
				</div>

				<div class="row justify-content-md-center">
					<% lecturers.forEach(lecturer => { %>
					<div class="col-lg-4 col-md-6" style="margin-bottom: 120px!important;">
						<div class="single-team-member">
							<img src="<%= lecturer.pic.replace('public','') %>" alt="Image">

							<div class="team-content">
								<div class="team-social">
									<a href="#" class="control">
										<i class="ri-share-fill"></i>
									</a>

									<ul>
										<li>
											<a href="https://www.facebook.com/" target="_blank">
												<i class="ri-facebook-fill"></i>
											</a>
										</li>
										<li>
											<a href="https://www.instagram.com/" target="_blank">
												<i class="ri-instagram-line"></i>
											</a>
										</li>
										<li>
											<a href="https://www.linkedin.com/" target="_blank">
												<i class="ri-linkedin-fill"></i>
											</a>
										</li>
										<li>
											<a href="https://twitter.com/" target="_blank">
												<i class="ri-twitter-fill"></i>
											</a>
										</li>
									</ul>
								</div>

								<div class="team-name">
									<h3><%= lecturer.title %> <%= lecturer.firstName %> <%= lecturer.lastName %></h3>
									<span><%= lecturer.department %></span>
								</div>
							</div>
						</div>
					</div>

                   
					<% }); %>
				</div>
			</div>
		</section>


		<!-- Start Footer Area -->
			<%- include('../partials/footer.ejs') %>

		<!-- End Footer Area -->

		
		
		

        <!-- Jquery Min JS -->
        <!-- <script data-cfasync="false" type="text/html" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="assets/js/jquery.min.js"></script>  -->
        <!-- Bootstrap Bundle Min JS -->
        	<%- include('../partials/scripts.ejs') %>

    </body>

</html>