<html lang="zxx">

		<%- include('../partials/head.ejs') %>

    <body>
		
		<% function formatDate(dateString) { %>
			<%
			    const dateObject = new Date(dateString);
				const options = { day: '2-digit', month: 'short' };
				const formattedDate = dateObject.toLocaleDateString('en-US', options);
				
				return formattedDate;
			%>
		  <% } %>
		<!-- Start Header Area -->
		<%- include('../partials/header.ejs') %>

		<!-- End Header Area -->
<!-- Search Modal -->
<div class="modal fade search-modal-area" id="exampleModalsrc">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <button type="button" data-bs-dismiss="modal" class="closer-btn">
                <i class="ri-close-line"></i>
            </button>

            <div class="modal-body">
                <form class="search-box">
                    <div class="search-input">
                        <input type="text" name="Search" placeholder="Search for..." class="form-control">

                        <button type="submit" class="search-btn">
                            <i class="ri-search-line"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Search Modal -->

<!-- Start Page Title Area -->
<div class="page-title-area bg-23">
    <div class="container">
        <div class="page-title-content">
            <h2>News details</h2>

            <ul>
                <li>
                    <a href="index.html">
                        Home 
                    </a>
                </li>

                <li class="active">News details</li>
            </ul>
        </div>
    </div>
</div>
<!-- End Page Title Area -->

<!-- Start Blog Details Area -->
<section class="blog-details-area ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="blog-details-content mr-15">
                    <div class="blog-details-img">
                        <img src="<%= news.featureImage.replace('public','') %>" alt="Image">
                    </div>

                    <div class="blog-top-content">
                        <div class="blog-content">
                            <ul class="admin">
                                <li> 
                                    <a href="#">
                                        <i class="ri-user-3-fill"></i>
                                        Admin
                                    </a>
                                </li>

                                <li>
                                    <i class="ri-calendar-2-line"></i>
                                    <%= formatDate(news.publishedDate)  %>, <%= news.publishedDate.getFullYear() %>
                                </li>

                                <li> 
                                    <a href="#">
                                        <i class="ri-discuss-line"></i>
                                        (03)No comments
                                    </a>
                                </li>
                            </ul>
                            
                            <h3><%= news.title %></h3>
                            <p><%= news.details %></p>


                            <div class="gap-mb-20"></div>
                        </div>

                    </div>

                    <div class="tags">
                        <ul class="tag-link">
                            <li class="title">
                                <i class="ri-price-tag-line"></i>
                            </li>
                            <li>
                                <a href="news.html" target="_blank">
                                    <%= news.category %>,
                                </a>
                            </li>
                            
                        </ul>

                        <div class="share-link">
                            <ul class="social-icon">
                                <li>
                                    <span>Share</span>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/" target="_blank">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/" target="_blank">
                                        <i class="ri-instagram-line"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" target="_blank">
                                        <i class="ri-linkedin-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/" target="_blank">
                                        <i class="ri-twitter-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                  <!--   <ul class="comment">
                        <li>
                            <img src="../../images/blog-details/comment-1.jpg" alt="Image">
                            <h3>Harold McLeod</h3>
                            <span>14, march 2021</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, quos! Pariatur ipsum aperiam alias distinctio vel molestiae id. Aut atque sequi eius omnis et? Nesciunt blanditiis incidunt.</p>

                            <a href="#" class="read-more">Reply</a>
                        </li>

                        <li class="margin-left">
                            <img src="../../images/blog-details/comment-2.jpg" alt="Image">
                            <h3>Alex Dew</h3>
                            <span>14, march 2021</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, quos! Pariatur ipsum aperiam alias distinctio vel molestiae id. Aut atque sequi eius omnis et? Nesciunt.</p>

                            <a href="#" class="read-more">Reply</a>
                        </li>

                        <li>
                            <img src="../../images/blog-details/comment-3.jpg" alt="Image">
                            <h3>Juhon Smith</h3>
                            <span>14, march 2021</span>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam, quos! Pariatur ipsum aperiam alias distinctio vel molestiae id. Aut atque sequi eius omnis Nesciunt blanditiis.</p>

                            <a href="#" class="read-more">Reply</a>
                        </li>
                    </ul> -->

                    <div class="leave-reply">
                        <h3>Leave a reply</h3>

                        <form>
                            <p>Your email address will not be published. Required fields are marked*</p>
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Name*</label>
                                        <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                </div>
    
                                <div class="col-lg-6 col-sm-6">
                                    <div class="form-group">
                                        <label>Email*</label>
                                        <input type="email" name="email" id="email" class="form-control">
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Your Website Link</label>
                                        <input type="text" name="website" id="website" class="form-control">
                                    </div>
                                </div>
    
                                <div class="col-lg-12 col-md-12">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <textarea name="message" class="form-control" id="message" rows="8"></textarea>
                                    </div>
                                </div>
    
                                <div class="col-lg-12 col-md-12">
                                    <button type="submit" class="default-btn">
                                        Post a comment
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="widget-sidebar ml-15">
                    <div class="sidebar-widget search">
                        <form class="search-form">
                            <input class="form-control" name="search" placeholder="Search..." type="text">
                            <button class="search-button" type="submit">
                                <i class="ri-search-line"></i>
                            </button>
                        </form>	
                    </div>

                    

                    <div class="sidebar-widget recent-post">
                        <h3 class="widget-title">Latest news</h3>
                        
                        <ul>
                            <% rnews.forEach(rnewsItem => { %>
                            <li>
                                <a href="/news-details/<%= rnewsItem._id %>">
                                    <%= rnewsItem.title %>
                                    <img src="<%= rnewsItem.featureImage.replace('public','') %>" class="news-thumbnail" alt="Image">
                                </a>
                                <span><%= formatDate(rnewsItem.publishedDate)  %>, <%= rnewsItem.publishedDate.getFullYear() %></span>
                            </li>
                            <% }); %>
                            
                        </ul>
                    </div>

                    

                    <div class="sidebar-widget tags mb-0">
                        <h3>Tags</h3>

                        <ul>
                            <li>
                                <a href="news.ejs">Academics</a>
                            </li>
                            <li>
                                <a href="news.ejs">Courses</a>
                            </li>
                            <li>
                                <a href="news.ejs">Scholarships</a>
                            </li>
                            <li>
                                <a href="news.ejs">Business</a>
                            </li>
                            <li>
                                <a href="news.ejs">University</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Blog Details Area -->


    <!-- Start Footer Area -->
		<%- include('../partials/footer.ejs') %>

		<!-- End Footer Area -->
        <%- include('../partials/scripts.ejs') %>
       </body>